.color-grey {
  color: #777777;
}
.mobile-h6 {
  line-height: 1px;
  font-size: 12px;
  font-weight: 200;
}
.font-small {
  font-size: 10px;
}
.font-smaller {
  font-size: 8px;
}
.option1:hover,
.option2:hover,
.option3:hover {
  transform: translateY(-3px);
}

.option1 {
  background-color: #ffebef;
  border-radius: 20px;
  flex-grow: 0.3;
}
.option2 {
  background-color: #fffbef;
  border-radius: 20px;
  flex-grow: 0.3;
}
.option3 {
  background-color: #ffe7be;
  border-radius: 20px;
  flex-grow: 0.3;
}
.mobile-graph {
  background-color: #ffe7be;
  margin-bottom: -20px;
  height: 300px;
  clip-path: polygon(
    99% 2%,
    98% 13%,
    90% 39%,
    76% 70%,
    59% 81%,
    44% 84%,
    20% 88%,
    4% 85%,
    53% 62%,
    85% 29%
  );
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans";
}
.text-white {
  color: #fffbef;
}
.invest-header {
  padding-right: 9%;
}
.mobile {
  background-image: url("../public/images/mobile.png");
  background-position: center;
  background-size: contain;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  height: 450px;
  width: 220px;
  background-color: #ffffff;
  border-radius: 30px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 3;
  top: 0;
  position: fixed;
  padding-left: 4%;
  margin: 0 !important;
  padding-right: 4%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.imagesheader {
  min-height: 100px;
}
body {
  padding-top: 80px;
}
.header-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}
.header-text2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}
.header-subtext {
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777777;
}
.header {
  background: #ffffff;
  min-height: 798px;
}
.nav-list {
  width: 40%;
  justify-content: space-between;
  align-items: center;

  margin: 0%;
}
.brand {
  font-family: "Manrope";
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.7px;
  cursor: pointer;
  margin: 0;
}

.btn-login {
  background-color: #ffe7be;
  height: 45px;
  width: 130px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  color: #0a2640;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.nav-item {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
  font-family: "Open Sans";
}
.btn {
  font-family: "Open Sans" !important;
  white-space: nowrap;
}
.btnstart {
  align-items: center;
  /* padding: 16px 56px; */
  gap: 8px;

  width: 247px;
  height: 60px;

  background-color: #ffe7be;

  border-radius: 56px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: #0a2640;
}

.logo-section {
  margin-top: 105px;
}
.main {
  background-color: #ffffff;
  min-height: 500px;
}
.sub-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #777777;
}

.services-header {
  text-align: center;
  margin-bottom: 80px;
}
.sub-text-big {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;

  text-align: center;

  color: #000000;
}
#services {
  padding-top: 10px;
}
.sub-text-mid {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #777777;
}
.text-mid {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #0a2640;
}

#services-customers {
  margin-top: 180px;
  padding: 0px 2%;
}
.text-mid {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;

  display: flex;
  align-items: center;

  color: #000000;
}
#connect {
  text-align: left;
}
.connect-list > li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  list-style-position: inside;
  font-size: 20px;

  line-height: 32px;

  list-style-image: url("../public/images/Group210.png") !important;
  color: #000000;
}

#floatImg {
  position: absolute;
  left: 27%;
  bottom: -30%;
}

#floatImg2 {
  position: absolute;
  right: 18%;
  bottom: -25%;
}

.btn-start {
  padding: 16px 56px;
  gap: 8px;
  transform: translateY(80px);
  width: 210px;
  height: 60px;
  background-color: #ffe7be;
  border: 2px solid #ffe7be;
  border-radius: 56px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: center;
}

#services-customers2 {
  margin-top: 200px;
  padding: 0px 2%;
  overflow: hidden;
}

.connect-list2 > li:first-child {
  background: #0a2640;

  color: #ffffff;
}

.connect-list2 > li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  padding-left: 30px;
  line-height: 68px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  height: 68px;
  width: 500px;
  font-size: 16px;
}

#wealthenterprise {
  background: #9187b3;
  min-height: 797px;
  margin-top: 200px;
}

#wealthenterprise .card {
  flex-grow: 0.23;
}

#wealthenterprise .card:first-child {
  height: 322px;
  border-radius: 12px;
}

#wealthenterprise .card:nth-child(2n) {
  height: 394px;
  border-radius: 12px;
}

#wealthenterprise .card:last-child {
  height: 358px;
  border-radius: 12px;
}

#wealthenterprise h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;

  display: flex;
  align-items: center;

  color: #ffffff;
}
.card-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.faq-header {
  font-size: 90px;
}
#Values {
  background-color: #ffffff;
  min-height: 300px;
  padding-top: 100px;
}

.values-header {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;

  display: flex;
  align-items: center;

  color: #000000;
}

#Values li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  width: 500px;
  height: 54px;
  line-height: 54px;
  color: #000000;
}

#welthservices {
  margin-top: 100px;
}

.loadbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 8px;

  position: absolute;
  width: 219px;
  height: 60px;

  border: 2px solid #0a2640;
  border-radius: 56px;
}
#loadmore {
  margin-top: 100px;
}

.ramp-main {
  background-color: #ffebef;
  border-radius: 12px;
  min-height: 391px;
  border-radius: 12px;
}
#ramp {
  min-height: 300px;
  margin-top: 100px;
}
.slider-main {
  background: #283037;
  border-radius: 12px;
  min-height: 450px;
  border-radius: 12px;
  padding-left: 20px;
  margin-bottom: 100px;
  padding-bottom: 8px;
 
}
#slider {
  min-height: 300px;
  margin-top: 30px;
}

.subscribe input {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 240px;
  height: 56px;
  width: 370px;
}
.subscribe button {
  padding: 16px 56px;
  gap: 8px;

  background-color: #ffe7be;

  border: 2px solid #ffe7be;
  border-radius: 56px;
}
#footer {
  margin-top: 180px;
}
.text-dark-big {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 43.25px;
  line-height: 34px;

  color: #0a2640;
}

#footer ul > li:first-child {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 60px;

  color: #000000;
}
.text2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #777777;
}

#footer ul > li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
  padding-left: 50%;
  white-space: nowrap;
  color: #777777;
}

.hiring {
  padding: 1px 14px;
  gap: 10px;

  background: #65e4a3;
  border-radius: 120px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;

  color: #0a2640;
}
.manimg {
  width: 508px;
}
.lady {
  width: 508px;
}
@media (max-width: 950px) {
  .header-img img,
  .logo-section img {
    max-width: 80%;
    margin-top: 100px;
  }
  .hide-mobile {
    display: none;
  }
  .footimg {
    max-width: 100%;
  }
  .manimg,
  #floatImg,
  #floatImg2 {
    max-width: 96%;
  }
  .lady,
  manimg {
    width: 100% !important;
  }
  #floatImg,
  #floatImg2 {
    right: 10%;

    height: 20%;
  }
  .footer-stocks{
    font-size: 11px !important;
    white-space: nowrap;
  }
  .nav {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10%;
  }
}

@media (max-width: 450px) {
  .invest-header{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .lady{
    margin-top: 100px;
  }
  .slider-main{
    overflow-x: hidden;
  }
  .stkitem {
    height: 30px;
    width: 90vw !important;
  }
  .header-subtext {
    text-align: center;
    margin-top: 90px !important;
  }
  .option1,
  .option2,
  .option3 {
    margin-bottom: 50px;
  }
  #connect {
    margin-top: 60px;
  }
  .headerbtn {
    justify-content: center;
  }
  #wealthenterprise h4,
  .text-mid {
    font-size: 30px;
    line-height: 37px;
  }
  .text-dark-big {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;

    color: #0a2640;
  }
  #footer ul > li {
    font-size: 13px;
  }
  #services {
    padding-top: 100px;
  }
  .logo-section h4 {
    font-size: 15px;
  }
  .logo-section h5 {
    font-size: 16px;
  }
  .invest-header {
    padding-right: 0 !important;
    justify-content: center !important;
  }
  .welthservicescard {
    margin-bottom: 60px;
  }
  .sub-text-big {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
  }
  .mobile {
    margin-top: 60px;
  }
  .header-text {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .nav-list {
    width: 39%;
  }

  .brand {
    font-size: 15px;
  }
  * {
    font-size: 13px;
  }
  .btnstart {
    width: 50%;
    font-size: 11px;
  }
  .btnexplore {
    width: 40%;
    font-size: 11px;
  }
  .connect-list2 > li {
    width: 100%;
  }
  .subscribe input {
    width: 95%;
    margin-bottom: 20px;
  }
}
.horizontal-slider {
  background-color: #ffffff;
  height: 40px;

  display: flex;
  align-items: center;
}
.riskcontainer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  height: 105px;
}
.trackclass {
  background-image: linear-gradient(to right, #ffecf1, #b3d4ff);
  height: 9px;
  margin-left: 8px;
  margin-right: 9px;
}
#slider-label {
}
.slider-thumb {
  background-color: #ffffff;
  width: 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 30px;

  cursor: grab;
}
.slider-thumb:active,
.slider-thumb:focus {
  outline: none;
  border: none;
}
.grapheItem {
  height: 100%;
  transition: width 0.5s ease;
}
.stkitem {
  height: 30px;
  width: 400px;
}
.stklabel {
  font-size: 17px !important;
  color: #ffffff;
  text-transform: capitalize;
  text-overflow: clip;
  font-size: 14px !important;
  white-space: nowrap;
}
